<ion-content padding>
  <h1 text-center>
    <ion-icon name="ios-briefcase" color="primary" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup]="authForm" (submit)="onSubmit()">

    <ng-container *ngIf="!configs.isSignIn">
      <ion-item>
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Nome" formControlName="nome" inputmode="password" autofocus="false">
        </ion-input>
        <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('required')">
          Campo obrigatório
        </ion-note>
        <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('minlength')">
          Mínimo de 3 caracteres
        </ion-note>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-icon name="mail" color="primary" slot="start"></ion-icon>
      <ion-input type="email" placeholder="E-mail" formControlName="email" inputmode="email" autofocus="true">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
        Campo obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
        E-mail inválido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="key" color="primary" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Senha" formControlName="senha" inputmode="password" autofocus="false">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('required')">
        Campo obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('minlength')">
        Mínimo de 8 caracteres
      </ion-note>
    </ion-item>
    
    <ion-button expand="block" type="submit" [disabled]="authForm.invalid">
      {{ configs.action }}
    </ion-button>
  </form>

  <ion-button expand="block" fill="outline" (click)="changeAuthAction()">
    {{ configs.actionChange }}
  </ion-button>
  <!--<ion-button expand="block">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Login com Facebook
  </ion-button>-->
</ion-content>